{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h3>Edit Profile: {{ editing_user.username }}</h3>
    <form method="post">
        {% csrf_token %}
        
        <div class="card mb-3">
            <div class="card-header">User Account</div>
            <div class="card-body">
                {{ user_form|crispy }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
<button class="btn btn-secondary" onclick="window.location.href='{% url 'dashboard' %}'">Back to Admin Dashboard</button>
</div>
{% endblock %}
