{%extends 'webapp/base.html'%}

{%block content%}
<h3> Welcome to Platform Manager Dashboard, {{ user }}</h3>

<h3 class="mt-4">Sign Up</h3>
<div class="row">
  <div class="col-md-4">
    <div class="card border-success shadow-sm p-3 mb-4">
      <h5 class="text-success">Daily</h5>
      <p><strong>Bookings:</strong> {{ daily_registrations }}</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-primary shadow-sm p-3 mb-4">
      <h5 class="text-primary">Monthly</h5>
      <p><strong>Bookings:</strong> {{ monthly_registrations }}</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-warning shadow-sm p-3 mb-4">
      <h5 class="text-warning">Yearly</h5>
      <p><strong>Bookings:</strong> {{ yearly_registrations }}</p>
    </div>
  </div>
</div>







{%endblock%}