{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
<div class="container bg-light shadow-md, p-5">
  <h2>My Profile</h2>
  <hr>
  <p><strong>Name:</strong> {{ profile.full_name }}</p>
  <p><strong>Email:</strong> {{ profile.email_address }}</p>
  <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
  <p><strong>Address:</strong> {{ profile.address }}</p>

  <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">Edit Profile</a>
</div>
{% endblock %}
